.container {
  width: 70%;
  margin: auto;
  text-align: center;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;

 
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #cc4e58;
}

p {
  font-size: 2rem;
  color:black;
  font-family: 'arial', cursive;
  font-weight: bold;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'arial', cursive;
  font-weight: bold;

}
button{
  font: 1em sans-serif;
  font-size: 50px;
  color: rgb(255, 0, 234);
  background-color:wheat;
  border-radius: 10px;
  padding: 5px;
}
body{
  background-color: cyan;
}